body {
    margin: 0;
    padding: 0;
}


/* SECTION 1 
========================*/

.menu_div {
    height: 30vh;
    background-color: red;
}


/* END SECTION 1 
========================*/


/* SECTION 2 
========================*/

#Services {
    height: 10vh;
    background-color: yellow;
}

#team {
    height: 30vh;
    background-color: brown;
}


/* END DE LA SECTION 2  
========================*/


/* SECTION 3
=========================*/

.footer_div {
    height: 30vh;
    background-color: blue;
}


/* END DE LA SECTION 3 
=========================*/